<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title><%= site.title %></title>
    <link rel="self" href="<%= site.url %>atom.xml" />
    <link href="<%= site.url %>" />
    <updated><%= site.updated.to_datetime.rfc3339 if site.updated %></updated>
    <id></id>

    <%
    items = site.items.latest.limit(50)
    ItemCursor.new(items).each do |item, new_date, new_feed|
    %>
    <entry xml:lang="en">
        <title type="html" xml:lang="en"><%= CGI.escapeHTML(item.title) %></title>
        <link href="<%= item.url %>" />
        <id><%= item.guid %></id>
        <updated><%= item.published.to_datetime.rfc3339 %></updated>
        <author>
            <name><%= item.feed.title %></name>
            <uri><%= item.feed.url %></uri>
        </author>
        <content type="html" xml:lang="en">
            <% if item.content %>
                <%= CGI.escapeHTML(item.content) %>
            <% elsif item.summary %>
                <%= CGI.escapeHTML(item.summary) %>
            <% end %>
        </content>
    </entry>
    <% end %>
</feed>
